.application-wrapper {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(77, 162, 255, 0.5) 50%, rgba(255, 255, 255, 1) 50%);
}

.application {
  height: calc(100vh - 188px);
  width : 75vw; 
  margin: 20px auto; 
  font-family: 'Roboto', sans-serif;
}
  
.card {
  width: 100%; 
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px; 
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: white; 
  border-radius: 5px;
}
  
.card img {
  width: 10%;
  object-fit: cover;
  margin-right: 40px;
}
  
.card-content {
  flex-grow: 1;
}
  
.card button {
  align-self: flex-end;
  margin-left: auto; 
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.5;
}
  
.card button:disabled {
  cursor: not-allowed;
  opacity: 0.5; 
}

.button-link {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button-link:hover {
  background-color: white;
  color: #007bff; 
  border: 2px solid #007bff; 
}
  