.contact-wrapper {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(77, 162, 255, 0.5) 50%, rgba(255, 255, 255, 1) 50%);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.form-container h1,
.form-description {
    text-align: center;
    margin-bottom: 20px;
}

.form-description {
    max-width: 50vw; 
    margin-left: auto; 
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    max-width: 500px; 
}

form label {
    margin-top: 10px;
    position: relative; 
    width: 100%; 
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 80%; 
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    align-self: center; 
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid #007bff; 
}

form button:hover {
    background-color: white;
    color: #007bff; 
    border: 2px solid #007bff; 
}