.home-wrapper {
  margin: 0; 
  padding: 0; 
  background-image: url('../../public/background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100vw; 
  overflow-x: hidden; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 148px);
    width: 100vw; 
  }
  
  .content {
    width: 30%;
    text-align: center;
  }
  
  .button {
    display: inline-block; 
    padding: 10px 15px;
    margin: 0px 20px 0px 20px; 
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none; 
    margin-top: 10px; 
  }
  
  .button:hover {
    background-color: white;
    color: #007bff;
  }