.mint-id-wrapper {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(77, 162, 255, 0.5) 50%, rgba(255, 255, 255, 1) 50%);
  min-height: 100vh; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 148px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-card {
  background-color: white;
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.06);
  width: 80%; 
  max-width: 500px; 
  margin: 20px auto; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%; 
  margin-bottom: 20px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block; 
  margin-bottom: 8px;
  text-align: left;
  width: 80%; 
  margin-left: auto; 
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea {
  width: 80%; 
  margin-left: auto; 
  margin-right: auto;
}

.file-upload-container {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 400px; 
  margin: auto;
  position: relative;
}

.file-upload-container:hover {
  background-color: rgba(0, 123, 255, 0.1); 
}

.file-upload-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 2; 
}

.file-upload-text {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  cursor: pointer;
}

.file-upload-icon {
  display: block;
  font-size: 24px; 
  color: #007bff;
  margin: auto;
}

.file-upload-size {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #6c757d; 
}

.file-upload-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

button {
  display: inline-block;
  padding: 10px 15px;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #007bff;
  color: white;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: white; 
  color: #007bff; 
}
