.mint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.social-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    margin: 20px;
    padding: 10px 20px;
}

.mint-button {
    margin: 20px;
    padding: 10px 20px;
}