.mint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 148px);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mint-button, .sign-out-button {
    margin: 20px;
    padding: 10px 20px;
}