.navbarhome {
    display: flex;
    justify-content: space-between; /* Changed from center to space-between */
    align-items: center;
    height: 64px;
    background-color: white;
    color: black;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0);
  }
  
  .logohome { /* Updated to match your JSX class name */
    display: flex;
    align-items: center;
  }
  
  .logohome img {
    margin-right: 10px;
  }
  
  .navhome-links {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Ensure this is correctly aligning items to the right */
    list-style-type: none;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .navhome-link {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .navhome-link::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #007bff;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .navhome-link:hover::after {
    opacity: 1;
  }
  