.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: white; 
    color: black; 
    padding: 0 20px;
    font-family: 'Roboto', sans-serif; 
    background-color: rgba(0,0,0,0);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }

  .logo, .sui-button {
    flex: 0 0 
  }
  
  .logo img {
    margin-right: 10px; 
  }
  
  .nav-links {
    flex: 1 0 auto; 
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: black; /* Text color changed to black */
    text-decoration: none;
    position: relative; /* Set position relative to anchor positioning the pseudo-element */
    display: inline-block; /* Ensure the anchor behaves as a block for the pseudo-element */
  }
  
  .nav-link::after {
    content: '';
    display: block;
    width: 6px; /* Width of the dot */
    height: 6px; /* Height of the dot */
    background-color: #007bff; /* Blue color for the dot */
    border-radius: 50%; /* Makes the dot circular */
    position: absolute;
    bottom: -5px; /* Adjusts the position of the dot below the text */
    left: 50%; /* Center the dot horizontally */
    transform: translateX(-50%); /* Ensures the dot is perfectly centered */
    opacity: 0; /* Hide the dot by default */
    transition: opacity 0.3s; /* Smooth transition for the dot appearance */
  }
  
  .nav-link:hover::after {
    opacity: 1; /* Show the dot on hover */
  }
  
  .sui-button {
    padding: 10px 15px;
    background-color: white; /* Button fill changed to white */
    color: #007bff; /* Text color changed to blue */
    border: 2px solid #007bff; /* Add blue border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  
  .sui-button:hover {
    background-color: #007bff; /* Background becomes blue */
    color: white; /* Text becomes white */
  }