.success-wrapper {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(77, 162, 255, 0.5) 50%, rgba(255, 255, 255, 1) 50%);
    min-height: 100vh; 
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 148px);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.success-card {
    background-color: white;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.06);
    width: 80%; 
    max-width: 700px; 
    margin: 20px auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.success-container h1 {
    margin-bottom: 20px;
}

.success-button button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .success-button button:hover {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff; 
  }